body {
    background-color: pink;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .container {
    text-align: center;
  }
  .btn {
    margin-top: 20px;
  }
  .messageformom{
    color: white;
  }

  .fampic{
    width: 400px;
    height: auto;
  }